<?xml version="1.0"?>
<model>
  <name>frami</name>
  <version>0.1</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Hannu Hakalahti</name>
    <email>hannu.hakalahti@seamk.fi</email>
  </author>

  <description>
    The Frami campus area of the Seinäjoki University of Applied Sciences.
    3D models of the buildings and satellite image are created with the
    BlenderGIS addon on Blender.
  </description>
</model>
