<?xml version="1.0"?>

<model>
  <name>seamk_rover</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>

  <author>
    <name>Hannu Hakalahti</name>
    <email>hannu.hakalahti@seamk.fi</email>
  </author>

  <description>
    Simple four-wheeled rover with IMU, Lidar, and GPS sensors.
  </description>
</model>
